<form [formGroup]="movieForm" (ngSubmit)="addAMovie(movieForm.value)">
   
    <div class="form-group">
        <label for="title">title</label>
        <input type="text" id="title" formControlName="title" class="form-control"/>
        @if(title.invalid && (title.touched || title.dirty)){
            @for (error of title.errors | keyvalue; track error.key) {
                <div class="alert alert-danger">{{ error.key }}: {{ error.value | json }}</div>
            }
        }
    </div>
    <div class="form-group">
        <label for="description">description</label>
        <input type="text" id="description" formControlName="description" class="form-control"/>
        @if(description.invalid && (description.touched || description.dirty)){
            @for (error of description.errors | keyvalue; track error.key) {
                <div class="alert alert-danger">{{ error.key }}: {{ error.value | json }}</div>
            }
        }
    </div>
    <div class="form-group">
        <label for="duration">duration</label>
        <input type="number" id="duration" formControlName="duration" class="form-control" />
        @if(duration.invalid && (duration.touched || duration.dirty)){
            @for (error of duration.errors | keyvalue; track error.key) {
                <div class="alert alert-danger">{{ error.key }}: {{ error.value | json }}</div>
            }
        }
    </div>

    <div class="form-group">
        <label for="TypeOfFilm">Movie Type</label>
        <input type="text" id="TypeOfFilm" formControlName="TypeOfFilm" class="form-control" />
        @if(TypeOfFilm.invalid && (TypeOfFilm.touched || TypeOfFilm.dirty)){
            @for (error of TypeOfFilm.errors | keyvalue; track error.key) {
                <div class="alert alert-danger">{{ error.key }}: {{ error.value | json }}</div>
            }
        }
    </div>

    <input type="submit" class="btn btn-success" value="Submit" [disabled]="movieForm.invalid" />
</form>